.admin-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 600px) {
  .admin-content-container {
    padding: 32px 12px;
  }
}
