.admin-table {
  max-width: 970px;
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: $color-background;
    border-top: 1px solid $color-border;
  }
  th {
    text-align: left;
    padding: 12px;
    border-top: 1px solid $color-border;
  }
  th[scope='row'] {
    background-color: $color-gradiant-dark;
  }
  td {
    padding: 12px;
    border-top: 1px solid $color-border;
    background-color: $color-gradiant-dark;
    hyphens: auto;
    overflow-wrap: break-word;
  }
  th,
  td {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .admin-table {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead {
      border-top: none;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      margin-bottom: 24px;
    }
    td {
      position: relative;
      padding-left: 35%;
      font-size: 1rem; // 16px
      text-wrap: wrap;
      text-align: left;
    }
    td:before {
      position: absolute;
      left: 12px;
      content: attr(data-label);
      font-weight: bold;
    }
    td.admin-table__button {
      padding-left: 12px;
      padding-right: 60%;
    }
  }
}
