button,
span.main-controls__create-button,
span.list-item__details-edit-button,
span.list-item__edit-button,
span.details-form__cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 73px;
  border-radius: 20px;
  padding: 8px 12px;
  border: 0;
  font: inherit;
  cursor: pointer;
  color: $color-white;
  font-size: 1rem; // 16px
  letter-spacing: 0.5px;
  font-weight: 400;
  text-align: center;
}

button.main-controls__add-button,
span.main-controls__create-button {
  background-color: $button-purple;
}

button.main-controls__type-button {
  background-color: $color-white;
  color: $button-purple;
  box-shadow: 0 0 0 1px $button-purple;
  opacity: 0.8;
}

button.main-controls__update-button {
  background-color: $button-blue;
}

span.details-form__cancel-button {
  background-color: $button-orange;
}

button.details-form__save-button {
  background-color: $button-green;
}

button.list-item__details-button {
  background-color: $button-purple;
}

button.list-item__delete-button {
  background-color: $button-red;
}

span.list-item__edit-button {
  background-color: $button-green;
}

button.list-item__edit-button {
  background-color: $button-blue;
}

button.list-item__cancel-button {
  background-color: $button-orange;
}

button.list-item__details-button,
button.list-item__delete-button,
button.list-item__edit-button,
span.list-item__edit-button,
button.list-item__cancel-button {
  position: relative;
  padding: 0;
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--desktop {
    min-width: unset;
    width: 34px;
    height: 28px;
    border-radius: 10px;
    svg {
      fill: $color-white;
      width: 1rem;
      height: 1rem;
    }
  }
  &--mobile {
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
    svg {
      fill: $color-white;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

button.main-controls__add-button,
button.details-form__save-button,
button.main-controls__update-button {
  gap: 6px;
}

button.list-item__cancel-button {
  &--desktop {
    svg {
      fill: $color-white;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
  &--mobile {
    svg {
      fill: $color-white;
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

button.login-form__login-button {
  width: 100%;
  background-color: $button-purple;
  padding: 14px;
  font-size: 1.125rem; // 18px
  border-radius: 26px;
  gap: 6px;
}

@media screen and (max-width: 600px) {
  button.main-controls__type-button {
    font-size: 0.875rem; // 14px
  }

  button.list-item__delete-button,
  button.list-item__edit-button {
    .loader {
      width: 18px;
      height: 18px;
    }
  }
}

@media screen and (max-width: 500px) {
  button.main-controls__type-button {
    min-width: 55px;
  }
}
