button {
  border: 0;
  font: inherit;
  cursor: pointer;
}

button.main-controls__type-button,
button.main-controls__add-button,
span.main-controls__create-button,
span.list-item__details-edit-button,
button.list-item__delete-button,
button.list-item__edit-button,
button.list-item__details-button,
span.list-item__edit-button,
button.list-item__cancel-button,
button.form-page__save-button,
span.form-page__cancel-button,
button.form-page__delete-button,
button.modal__cancel-button,
button.modal__delete-button,
button.modal__update-button,
button.modal__save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 73px;
  border-radius: 20px;
  padding: 8px 12px;
  border: 0;
  font: inherit;
  cursor: pointer;
  color: $color-background;
  background-color: transparent;
  font-size: 1rem; // 16px
  letter-spacing: 0.5px;
  font-weight: 400;
  text-align: center;
}

button.main-controls__type-button {
  background-color: $color-background-secondary;
  color: $button-purple;
  box-shadow: 0 0 0 1px $color-border;
  opacity: 0.8;
  text-transform: capitalize;
  &--active {
    box-shadow: 0 0 0 1px $button-purple;
    background-color: $button-purple-dark;
    color: $button-purple;
    opacity: 1;
  }
}

button.modal__update-button {
  background-color: $button-blue-dark;
  border: 1px solid $button-blue;
  color: $button-blue;
  .loader {
    border: 2px solid $button-blue;
    border-top: 2px solid transparent;
  }
}

button.list-item__details-button,
button.main-controls__add-button,
span.main-controls__create-button {
  border: 1px solid $color-border;
  background-color: $button-purple-dark;
  color: $button-purple;
  svg {
    fill: $button-purple;
  }
  .loader {
    border: 2px solid $button-purple;
    border-top: 2px solid transparent;
  }
}

button.reminders__reminders-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $button-yellow-dark;
  border: 1px solid $color-border;
  color: $button-yellow;
  width: 34px;
  height: 28px;
  border-radius: 10px;
  padding: 0;
  .loader {
    border: 2px solid $button-yellow;
    border-top: 2px solid transparent;
  }
  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 12px;
    width: 5px;
    height: 10px;
    border: solid $button-yellow;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  &--resetting {
    &:after {
      display: none;
    }
  }
}

button.reminders__reminders-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid $color-border;
  color: $button-yellow;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  padding: 0;
  svg {
    fill: $button-yellow;
    width: 1rem;
    height: 1rem;
  }
  &:active {
    background-color: $button-yellow-dark;
  }
}

button.list-item__delete-button,
button.modal__delete-button,
button.form-page__delete-button {
  background-color: $button-red-dark;
  border: 1px solid $color-border;
  color: $button-red;
  svg {
    fill: $button-red;
  }
  .loader {
    border: 2px solid $button-red;
    border-top: 2px solid transparent;
  }
}

span.list-item__edit-button,
button.form-page__save-button,
button.modal__save-button {
  background-color: $button-green-dark;
  border: 1px solid $color-border;
  color: $button-green;
  svg {
    fill: $button-green;
  }
  .loader {
    border: 2px solid $button-green;
    border-top: 2px solid transparent;
  }
}

button.list-item__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-border;
  background-color: $button-blue-dark;
  svg {
    fill: $button-blue;
  }
  .loader {
    border: 2px solid $button-blue;
    border-top: 2px solid transparent;
  }
}

button.list-item__cancel-button,
button.modal__cancel-button,
span.form-page__cancel-button {
  background-color: $button-orange-dark;
  border: 1px solid $color-border;
  color: $button-orange;
  svg {
    fill: $button-orange;
  }
}

button.list-item__details-button,
button.list-item__delete-button,
button.list-item__edit-button,
span.list-item__edit-button,
button.list-item__cancel-button {
  position: relative;
  padding: 0;
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--desktop {
    min-width: unset;
    width: 34px;
    height: 28px;
    border-radius: 10px;
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
  &--mobile {
    border-radius: 0;
    border: 0;
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

button.main-controls__add-button,
button.form-page__save-button {
  gap: 6px;
}

button.list-item__cancel-button {
  &--desktop {
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
  &--mobile {
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

button.entry-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px;
  font-size: 1.125rem; // 18px
  border-radius: 26px;
  font-weight: 400;
  letter-spacing: 0.5px;
  gap: 6px;
  border: 1px solid $color-border;
  background-color: $button-purple-dark;
  color: $button-purple;
  .loader {
    border: 2px solid $button-purple;
    border-top: 2px solid transparent;
  }
}

button.modal__cancel-button,
button.modal__delete-button,
button.modal__update-button,
button.modal__save-button {
  width: 100%;
  font-size: 1.125rem; // 18px
  gap: 6px;
}

button.modal__cancel-button,
span.form-page__cancel-button {
  border: 1px solid $button-orange;
}

button.modal__delete-button,
button.form-page__delete-button {
  border: 1px solid $button-red;
}

button.main-controls__add-button,
span.main-controls__create-button {
  border: 1px solid $button-purple;
}

button.form-page__save-button,
button.modal__save-button {
  border: 1px solid $button-green;
}

button.user-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0;
  min-width: 24px;
  height: 24px;
  color: $color-background;
  font-size: 22px;
  background-color: $color-font;
  svg {
    width: 1rem;
    height: 1rem;
    pointer-events: none;
  }
}

@media screen and (max-width: 600px) {
  button.main-controls__type-button {
    font-size: 0.875rem; // 14px
    min-width: 55px;
  }

  span.list-item__edit-button--desktop {
    width: 55px;
    height: 35px;
    border-radius: 20px;
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  button.list-item__delete-button,
  button.list-item__edit-button {
    .loader {
      width: 18px;
      height: 18px;
    }
  }
}
