.checkbox {
  &__checkbox-container {
    position: relative;
    padding: 3px 0 0 37px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem; // 16px
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    &:hover input ~ .checkbox__checkbox {
      background-color: $color-border;
    }
    & input:checked ~ .checkbox__checkbox {
      background-color: $color-upcoming;
    }
    & input:checked ~ .checkbox__checkbox:after {
      display: block;
    }
  }
  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $color-input;
    border: 1px solid $color-border;
    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid $color-font;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  &__sublabel {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: $color-list-item-svg;
    margin-top: 6px;
    font-size: 1rem; // 16px
  }
}
