.content-left-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 60%;
  &--no-right-column {
    flex: 0 1 auto;
    max-width: 720px;
    width: 100%;
  }
}

.add-item {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px;
  margin-bottom: 8px;
  background-color: $color-white;
  box-shadow: 0 0 6px 2px $color-shadow;
  input[type='text'] {
    flex: 1 1 45%;
    border: none;
    background-color: $color-background;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px $color-shadow;
    font: inherit;
    &:disabled {
      background-color: $color-shadow;
    }
  }
  &__checkbox-container {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    &:hover input ~ .add-item__checkmark {
      background-color: $color-shadow;
    }
    & input:checked ~ .add-item__checkmark {
      background-color: $button-blue;
    }
    & input:checked ~ .add-item__checkmark:after {
      display: block;
    }
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $color-background;
    border: 1px solid $color-shadow;
    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}

.list-item {
  overflow: hidden;
  margin-bottom: 8px;
  border-radius: 12px;
  background-color: $color-white;
  box-shadow: 0 0 6px 2px $color-shadow;
  cursor: grab;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  &__controls-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    p {
      font-size: 1.25rem; // 20px;
    }
  }
  &__details {
    transition: height 0.3s ease-in-out;
    background-color: $color-shadow;
  }
  &__details-edit-button {
    z-index: 2;
  }
  &__details-padding {
    padding: 16px 16px 24px;
    position: relative;
    & > p {
      margin-bottom: 0;
    }
  }
  &__details-controls-left {
    display: flex;
    align-items: center;
    gap: 16px;
    p {
      font-weight: 400;
      font-size: 1.25rem; // 20px;
      margin: 0;
    }
  }
  &__details-quill-wrapper {
    padding: 12px 0 0 90px;
    p,
    ul,
    ol {
      margin: 0;
    }
    a {
      color: $button-purple;
      font-weight: 400;
      text-decoration: underline;
    }
    h1 {
      margin: 22px 0;
    }
  }
}

.list-item-on-drag {
  background-color: $color-background;
  color: $color-background;
  box-shadow: none;
  button,
  span {
    background-color: $color-background !important;
    color: $color-background;
    box-shadow: none;
  }
}

@media screen and (max-width: 800px) {
  .content-left-container {
    max-width: 690px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .content-left-container {
    padding-bottom: 12px;
  }

  .add-item {
    position: relative;
    gap: 12px;
    padding: 24px;
    margin-bottom: 0;
    box-shadow: unset;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 88%;
      height: 1px;
      background-color: $color-shadow;
    }
  }

  .list-item {
    position: relative;
    margin-bottom: 0;
    box-shadow: unset;
    border-radius: unset;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 88%;
      height: 1px;
      background-color: $color-shadow;
    }
    &:last-of-type {
      &:after {
        left: 0;
        width: 0;
        height: 0;
      }
    }
    &__interface {
      padding: 12px 24px;
    }
    &__controls-left {
      & > p {
        margin: 0;
      }
    }
    &__controls-left,
    &__details-controls-left {
      gap: 12px;
    }
    &__details-quill-wrapper {
      padding: 12px 0 0;
    }
    &__details-padding {
      padding: 16px 24px 24px;
      & > p {
        margin-top: 12px;
      }
    }
  }
}
