.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
  font-weight: 600;
  transition: all 0.3s;
  &--small {
    min-width: 74px;
    padding: 8px 18px;
    border-radius: 20px;
  }
  &--medium {
    padding: 14px 32px;
    font-size: 1.125rem; // 18px
    border-radius: 26px;
  }
  /* &--large {
    padding: 14px 32px;
    font-size: 1.125rem; // 18px
    border-radius: 26px;
  } */
  &--full {
    width: 100%;
  }
  &--purple {
    background-color: $button-purple-dark;
    color: $button-purple;
    svg {
      fill: $button-purple;
    }
    .loader {
      border: 2px solid $button-purple;
      border-top: 2px solid transparent;
    }
    &:hover,
    &:active {
      background-color: $button-purple;
      color: $button-purple-dark;
      box-shadow: 0px 0px 0 1px $button-purple inset;
      svg {
        fill: $button-purple-dark;
      }
      .loader {
        border: 3px solid $button-purple-dark;
        border-top: 3px solid transparent;
      }
    }
  }
  &--red {
    background-color: $button-red-dark;
    color: $button-red;
    svg {
      fill: $button-red;
    }
    .loader {
      border: 2px solid $button-red;
      border-top: 2px solid transparent;
    }
    &:hover,
    &:active {
      background-color: $button-red;
      color: $button-red-dark;
      svg {
        fill: $button-red-dark;
      }
      .loader {
        border: 3px solid $button-red-dark;
        border-top: 3px solid transparent;
      }
    }
  }
  &--cancel {
    background-color: $background;
    color: $font;
    box-shadow: 0px 0px 0 1px $border inset;
    svg {
      fill: $font;
    }
    .loader {
      border: 2px solid $font;
      border-top: 2px solid transparent;
    }
    &:hover,
    &:active {
      background-color: $font;
      color: $background;
      box-shadow: 0px 0px 0 1px $font inset;
      svg {
        fill: $background;
      }
      .loader {
        border: 3px solid $background;
        border-top: 3px solid transparent;
      }
    }
  }
}

.cta-text-link {
  color: $button-purple;
}

@media screen and (max-width: 600px) {
  .cta-button--purple {
    &:hover,
    &:active {
      background-color: $button-purple-dark;
      color: $button-purple;
      box-shadow: 0px 0px 0 1px $button-purple-dark inset;
      svg {
        fill: $button-purple;
      }
      .loader {
        border: 3px solid $button-purple;
        border-top: 3px solid transparent;
      }
    }
  }
  .cta-button--red {
    &:hover,
    &:active {
      background-color: $button-red-dark;
      color: $button-red;
      svg {
        fill: $button-red;
      }
      .loader {
        border: 3px solid $button-red;
        border-top: 3px solid transparent;
      }
    }
  }
  .cta-button--cancel {
    &:hover,
    &:active {
      background-color: $background;
      color: $font;
      box-shadow: 0px 0px 0 1px $border inset;
      svg {
        fill: $font;
      }
      .loader {
        border: 3px solid font;
        border-top: 3px solid transparent;
      }
    }
  }
}
