.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.dashboard-button-wrapper {
  max-width: 150px;
  width: 100%;
}

.items-column-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 18px;
}

.items-masonry-column {
  flex: 0 0 312px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

@media screen and (max-width: 800px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 600px) {
  .content-container {
    gap: 0;
  }

  .dashboard-button-wrapper {
    padding: 16px 0;
  }

  .items-masonry-column {
    flex: 1 1 auto;
    width: 100%;
    gap: 0;
  }
}
