.form-error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  position: absolute;
  bottom: -28px;
  left: 0;
  padding: 2px 2px 2px 4px;
  border-radius: 4px;
  background-color: $button-orange-dark;
  color: $button-orange;
  &--position-static {
    position: static;
    max-width: 970px;
    justify-content: center;
  }
}
