@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $color-font;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $color-background;
  font-size: 1.125rem; // 18px
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1296px;
  padding: 48px 48px;
}

.content-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

a {
  text-decoration: none;
}

input:disabled {
  cursor: no-drop;
}

.loader {
  border: 2px solid $color-white;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 24px;
  }
  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 12px;
  }
}
