@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $color-background;
  font-size: 1.125rem; // 18px
  font-weight: 300;
  color: $color-font;
}

.container {
  width: 100%;
  padding: 32px 48px;
}

a {
  text-decoration: none;
}

input:disabled {
  cursor: not-allowed;
}

.loader {
  border: 2px solid $color-font;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 12px;
  height: 12px;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 24px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
}
