.header {
  color: $color-font;
  border-bottom: 1px solid $color-border;
  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1296px;
    width: 100%;
    padding: 14px 48px;
    & > a {
      color: $color-font;
      display: inline-block;
    }
  }
  &__content-right {
    display: flex;
    align-items: center;
    gap: 18px;
    min-height: 58px;
    & > a {
      padding: 8px 12px;
      opacity: 0.8;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    &__inner-wrapper {
      padding: 20px 24px;
    }
    &__content-right {
      min-height: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    border: 0;
    &__inner-wrapper {
      padding: 12px 16px;
    }
    &__content-right {
      min-height: auto;
    }
  }
}
