.header {
  color: $color-font;
  border-bottom: 1px solid $color-border;
  h1 {
    color: $color-font;
    cursor: pointer;
    display: inline-block;
  }
  &__inner-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1296px;
    padding: 20px 48px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    &__inner-wrapper {
      padding: 20px 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    border: 0;
    &__inner-wrapper {
      padding: 12px 24px;
    }
  }
}
