.homepage {
  &__background-gradiant {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
      120deg,
      rgb($color-gradiant-darkest, 1) 30%,
      rgb($color-gradiant-dark, 1) 46%,
      rgb($button-blue-dark, 0.9) 90%
    );
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    p {
      line-height: 1.6;
      font-size: 1.125rem; // 18px
    }
  }
  &__hero {
    display: flex;
    width: 100%;
    gap: 32px;
  }
  &__hero-left {
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1,
    p {
      margin-bottom: 32px;
    }
  }
  &__hero-right {
    flex: 0 1 65%;
    button {
      width: 100%;
      background-color: transparent;
    }
    img {
      box-shadow: 0 5px 30px $color-gradiant-dark;
      border-radius: 8px;
      -webkit-user-drag: none;
      -moz-user-select: none;
      user-select: none;
    }
  }
  &__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  &__benefits-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }
  &__benefit {
    flex: 0 1 352px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 32px 18px;
    border-radius: 8px;
    text-align: center;
    font-weight: 300;
    background-color: $color-background-dark;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      font-size: 1.5rem; // 24px;
      svg {
        fill: $button-green;
      }
    }
  }
  &__direct-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 32px 32px 48px;
    text-align: center;
    border-radius: 8px;
    background-color: $color-background-dark;
  }
}

@media screen and (max-width: 1000px) {
  .homepage {
    &__wrapper {
      padding-top: 25px;
    }
    &__hero {
      flex-direction: column;
    }
    &__hero-left {
      flex: 0 1 100%;
    }
    &__hero-right {
      flex: 0 1 100%;
      img {
        cursor: default;
      }
    }
    &__direct-cta {
      gap: 24px;
    }
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    &__wrapper {
      gap: 32px;
    }
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    &__wrapper {
      padding: 24px;
    }
    &__direct-cta {
      h2 {
        font-size: 1.5rem; // 24px;
      }
    }
  }
}
