.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.items-column-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 18px;
}

@media screen and (max-width: 800px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 600px) {
  .content-container {
    gap: 0;
  }
  .items-column-wrapper {
    flex-direction: column;
    gap: 0;
  }
}
