.items-column {
  flex: 1 1 auto;
  h2 {
    padding: 12px 24px;
    margin-bottom: 8px;
    color: $color-font;
    border: 1px solid $color-border;
    text-transform: capitalize;
    svg {
      position: relative;
      top: 2px;
      margin-right: 10px;
      font-size: 1.375rem; // 22px;
    }
  }
  &__list-item-wrapper {
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .items-column {
    h2 {
      margin-bottom: 0;
      border: 0;
      background-color: $color-background-secondary;
    }
  }
}
