.list-item {
  &__outer-wrapper {
    position: relative;
    margin-bottom: 8px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__inner-wrapper {
    overflow: hidden;
    border-radius: 8px;
    background-color: $color-shadow;
    box-shadow: 0 0 6px 2px $color-shadow;
    &--upcoming {
      border-radius: 0 0 8px 8px;
    }
  }
  &__upcoming-date-time {
    background-color: $button-blue;
    color: $color-white;
    padding: 6px 16px;
    p {
      margin: 0;
      font-weight: 400;
      font-size: 1rem; // 16px
    }
  }
  &__item {
    &:hover {
      transition: all 0.3s ease-out;
    }
    display: flex;
    position: relative;
    transition: all 0.3s ease-in;
    background-color: $color-white;
    z-index: 2;
  }
  &__item-drag-zone {
    padding: 16px;
    cursor: grab;
    svg {
      position: relative;
      top: 4px;
      path {
        stroke: $color-list-item-svg;
      }
    }
  }
  &__item-hover-zone {
    width: 100%;
    padding: 16px 16px 16px 0;
    p {
      font-size: 1.25rem; // 20px;
    }
    &--upcoming {
      width: 100%;
      padding: 16px;
      position: relative;
    }
  }
  &__item-arrow-right {
    position: absolute;
    top: 8px;
    right: 4px;
    pointer-events: none;
    svg {
      fill: $color-list-item-svg;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &__controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: 57px;
    z-index: 1;
    visibility: hidden;
    transition: visibility 0.3s;
    &--upcoming {
      top: 32px;
    }
  }
  &__details {
    transition: height 0.3s;
    background-color: $color-shadow;
  }
  &__details-edit-button {
    z-index: 2;
  }
  &__details-padding {
    padding: 16px;
    position: relative;
    & > p {
      margin-bottom: 0;
    }
  }
  &__details-controls-left {
    display: flex;
    margin-top: 16px;
  }
  &__details-quill-wrapper {
    padding: 0;
    p,
    ul,
    ol {
      margin: 0;
    }
    a {
      color: $button-purple;
      font-weight: 400;
      text-decoration: underline;
    }
    h1 {
      margin: 22px 0;
    }
  }
}

.list-item-on-drag {
  .list-item__inner-wrapper,
  .list-item__item {
    background-color: $color-background;
    color: $color-background;
    box-shadow: none;
  }
  svg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .list-item {
    &__outer-wrapper {
      position: relative;
      margin-bottom: 0;
    }
    &__inner-wrapper {
      box-shadow: unset;
      border-radius: unset;
    }
    &__item {
      transition: none;
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-shadow;
      }
    }
    &__controls {
      visibility: visible;
    }
    &__details-quill-wrapper {
      padding: 12px 0 0;
    }
    &__details-padding {
      padding: 16px 24px 24px;
      & > p {
        margin-top: 12px;
      }
    }
  }
}
