.main-controls {
  display: flex;
  gap: 16px;
  justify-content: center;
  max-width: 970px;
  width: 100%;
  padding: 16px;
  border: 1px solid $color-border;
  &__top-controls {
    flex: 0 0 482px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  &__select-wrapper {
    position: relative;
    width: 100%;
    select {
      width: 100%;
      padding: 12px;
      font: inherit;
      color: $color-font;
      background-color: transparent;
      border: 1px solid $color-border;
      cursor: pointer;
      appearance: none;
      text-transform: capitalize;
    }
    &:after {
      content: '';
      position: absolute;
      top: 48%;
      right: 12px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $color-list-item-svg;
    }
  }
  &__bottom-controls {
    flex: 0 1 440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  input[type='text'] {
    flex: 1 1 auto;
    border: none;
    padding: 7px 12px;
    border-radius: 20px;
    background-color: $color-input;
    color: $color-font;
    box-shadow: 0 0 0 1px $color-border;
    font: inherit;
    &:disabled {
      background-color: $color-border;
      color: $color-background;
    }
  }
}

@media screen and (max-width: 989px) {
  .main-controls {
    flex-wrap: wrap;
    max-width: 521px;
    &__top-controls,
    &__bottom-controls {
      width: 100%;
      justify-content: center;
      flex: 0 1 auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .main-controls {
    max-width: unset;
    padding: 24px 16px;
    gap: 24px;
    border: 0;
    &__top-controls {
      justify-content: flex-start;
    }
  }
}
