.main-controls {
  display: flex;
  gap: 16px;
  justify-content: center;
  max-width: 970px;
  width: 100%;
  padding: 16px;
  background-color: $color-white;
  box-shadow: 0 0 6px 2px $color-shadow;
  &__top-controls {
    flex: 0 0 482px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  &__bottom-controls {
    flex: 0 1 440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .main-controls__type-button--active {
    background-color: $button-purple;
    color: $color-white;
    opacity: 1;
  }
  input[type='text'] {
    flex: 1 1 auto;
    border: none;
    background-color: $color-background;
    padding: 7px 12px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px $color-shadow;
    font: inherit;
    &:disabled {
      background-color: $color-shadow;
    }
  }
}

@media screen and (max-width: 989px) {
  .main-controls {
    flex-wrap: wrap;
    max-width: 521px;
    &__top-controls,
    &__bottom-controls {
      width: 100%;
      justify-content: center;
      flex: 0 1 auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .main-controls {
    max-width: unset;
    box-shadow: unset;
    padding: 24px 16px;
    gap: 24px;
    &__top-controls {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 500px) {
  .main-controls {
    .inputs__checkbox-container {
      padding: 0 0 0 26px;
    }
    .inputs__checkbox {
      height: 18px;
      width: 18px;
      &:after {
        left: 6px;
        top: 3px;
        width: 3px;
        height: 6px;
        border-width: 0 2px 2px 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main-controls {
    .inputs__checkbox-container {
      padding: 30px 0 0;
      font-size: 0.8125rem; // 13px
      span:first-of-type {
        position: absolute;
        left: 0;
        bottom: -6px;
      }
    }
  }
}
