dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog:-internal-dialog-in-top-layer {
  position: absolute;
}

dialog {
  border: 0;
  padding: 32px 32px 48px;
  border-radius: 12px;
  background-color: $color-background;
  color: $color-font;
  border: 1px solid $color-border;
}

.modal {
  max-width: 295px;
  width: 100%;
  h2 {
    margin-bottom: 24px;
  }
  &__modal-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  &__form-modal--large,
  &__form-modal--small {
    max-width: 500px;
    width: 100%;
  }
}

@media screen and (max-height: 910px) {
  dialog.modal.modal__form-modal--large {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    max-height: unset;
  }
}

@media screen and (max-width: 600px) {
  dialog.modal.modal__form-modal--large,
  dialog.modal.modal__form-modal--small {
    width: 90%;
  }
}
