.reminders-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 10px 10px 16px;
  border-radius: 8px;
  background-color: $color-yellow-extra-dark;
  color: $button-yellow;
  &__date {
    color: $color-font;
    font-weight: 300;
    font-size: 0.875rem; // 14px
    padding-right: 6px;
  }
  &--today {
    background-color: $button-orange-dark;
    color: $button-orange;
  }
}

@media screen and (max-width: 600px) {
  .reminders-item {
    &__date {
      font-size: 1rem; // 16px
    }
  }
}
