.reminders {
  &__outer-wrapper {
    max-width: 970px;
    width: 100%;
  }
  &__wrapper {
    width: 100%;
    overflow: hidden;
    h2 {
      padding: 16px;
      border-radius: 8px;
      color: $font;
      background-color: $background-accent;
      box-shadow: 0px 0px 0 1px $border-accent inset;
    }
  }
  &__reminders-wrapper {
    width: 100%;
  }
  &__reminders-carousel {
    display: flex;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // FireFox
    transition: transform 300ms ease-out;
    &::-webkit-scrollbar {
      display: none; // Chrome and Safari
    }
    gap: 8px;
    padding: 8px;
  }
}

@media screen and (max-width: 600px) {
  .reminders {
    &__wrapper {
      border: 0;
      h2 {
        margin-bottom: 0;
        border: 0;
        padding: 12px 16px;
        border-radius: 0;
        box-shadow: unset;
      }
    }
  }
}
