.reminders {
  &__outer-wrapper {
    max-width: 970px;
    width: 100%;
  }
  &__wrapper {
    width: 100%;
    border: 1px solid $color-border;
    overflow: hidden;
    & > button {
      position: relative;
      width: 100%;
      text-align: left;
      color: $color-font;
      font-weight: 600;
      padding: 8px 16px;
      background-color: $color-background;
    }
    button.button-open {
      box-shadow: 0 0 0 1px $color-border;
      &:after {
        content: '';
        position: absolute;
        top: 46%;
        right: 12px;
        cursor: pointer;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $color-list-item-svg;
      }
    }
    button.button-closed {
      &:after {
        content: '';
        position: absolute;
        top: 46%;
        right: 12px;
        cursor: pointer;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color-list-item-svg;
      }
    }
  }
  &__reminders-wrapper {
    transition: height 0.3s;
  }
  &__reminders-carousel {
    display: flex;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // FireFox
    transition: transform 300ms ease-out;
    &::-webkit-scrollbar {
      display: none; // Chrome and Safari
    }
    gap: 8px;
    padding: 8px;
  }
  &__scroll-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding-top: 12px;
    button {
      &:first-of-type {
        svg {
          position: relative;
          left: -1px;
        }
      }
      &:last-of-type {
        svg {
          position: relative;
          right: -1px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .reminders {
    &__scroll-buttons-wrapper {
      padding: 12px 0 0 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .reminders {
    &__wrapper {
      border: 0;
      & > button {
        padding: 12px 16px;
        pointer-events: none;
        &:after {
          display: none;
        }
      }
      & > button.button-open {
        box-shadow: unset;
      }
    }
  }
}
