.search-field {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100%;
  input {
    width: 100%;
    border: none;
    font: inherit;
    padding: 12px;
    color: $font;
    border-radius: 9px;
    background-color: $background;
    border: 1px solid $border;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 2px;
    border-radius: 50%;
    color: $font;
    background-color: $background;
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
