.search-field {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  max-width: 250px;
  width: 100%;
  input {
    max-width: 250px;
    width: 100%;
    border: none;
    font: inherit;
    padding: 7px 12px;
    border-radius: 20px;
    background-color: $color-background;
    color: $color-font;
    box-shadow: 0 0 0 1px $color-border;
    color-scheme: dark;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    color: $color-font;
    background-color: $color-background;
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
