.settings-prompt {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  padding: 20px 32px 32px;
  border-radius: 12px;
  z-index: 2;
  opacity: 0;
  color: $button-orange;
  border-left: 16px solid $button-orange;
  background-color: $button-orange-dark;
  box-shadow: 0 0 20px 10px $color-background-dark;
  h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 30px; // 32px
    margin-bottom: 18px;
    svg {
      font-size: 2rem; // 34px
      fill: $button-orange;
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px;
    background-color: transparent;
    svg {
      font-size: 2rem; // 34px
      fill: $button-orange;
    }
  }
}

.show-prompt {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

@media screen and (max-width: 600px) {
  .settings-prompt {
    width: 100%;
    h2 {
      gap: 10px;
      font-size: 1.5rem; // 24px;
      margin-bottom: 12px;
    }
  }
}
