.settings-prompt {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  padding: 20px 32px 32px;
  border-radius: 12px;
  z-index: 2;
  opacity: 0;
  color: $color-font;
  border-left: 16px solid $button-green;
  background-color: $button-green-dark;
  h2 {
    display: flex;
    align-items: center;
    font-size: 30px; // 32px
    margin-bottom: 18px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px;
    background-color: transparent;
    svg {
      font-size: 2rem; // 34px
      fill: $color-font;
    }
  }
  &__new-user-background-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
}

.show-prompt {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

@media screen and (max-width: 600px) {
  .settings-prompt {
    width: 100%;
    h2 {
      gap: 10px;
      font-size: 1.5rem; // 24px;
      margin-bottom: 12px;
    }
  }
}
