.settings-item {
  &__wrapper {
    padding-bottom: 8px;
  }
  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 55px;
    border-radius: 8px;
    padding: 0 8px 0 16px;
    text-transform: capitalize;
    user-select: none;
    border: 1px solid $color-border;
    background-color: $color-background-secondary;
    & > svg {
      margin-right: 8px;
    }
  }
  &__title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  &__drag-zone {
    cursor: grab;
    svg {
      position: relative;
      top: 2px;
      pointer-events: none;
      path {
        stroke: $color-list-item-svg;
      }
    }
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
}
