.subscription-features {
  border-collapse: collapse;
  width: 100%;
  caption {
    padding: 0 0 24px 0;
    text-align: left;
  }
  thead {
    background-color: $color-background;
    border-top: 1px solid $color-border;
  }
  th {
    text-align: left;
    padding: 12px;
    border-top: 1px solid $color-border;
  }
  th[scope='row'] {
    background-color: $color-gradiant-dark;
  }
  th:nth-child(2) {
    color: $button-orange;
  }
  th:nth-child(3) {
    color: $button-green;
  }
  td {
    padding: 12px;
    border-top: 1px solid $color-border;
    background-color: $color-gradiant-dark;
  }
  td:nth-child(2) {
    color: $button-orange;
    font-weight: 600;
  }
  td:nth-child(3) {
    color: $button-green;
    font-weight: 600;
  }
  th,
  td {
    text-align: center;
  }
  &__modal-table-wrapper {
    padding: 0 0 32px 0;
  }
}

@media screen and (max-width: 600px) {
  .subscription-features {
    &__modal-table-wrapper {
      th,
      td {
        font-size: 1rem; // 16px
      }
    }
  }
}
