.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0 4px;
  svg {
    pointer-events: none;
    color: $color-list-item-svg;
    path {
      stroke: $color-list-item-svg;
    }
  }
  &__tooltip-message {
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    bottom: 28px;
    z-index: 1;
    width: 200px;
    text-align: center;
    background-color: $color-white;
    color: $color-background;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem; // 16px
    line-height: 1.4;
    span {
      font-weight: 400;
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: $color-white transparent transparent transparent;
    }
  }
  &:hover {
    .tooltip__tooltip-message {
      visibility: visible;
    }
  }
}

@media screen and (max-width: 800px) {
  .tooltip {
    &__tooltip-message {
      left: -16px;
      text-align: left;
      &:after {
        left: 15%;
      }
    }
  }
}
