.user-menu {
  &__nav {
    display: none;
    position: absolute;
    top: 55px;
    right: 48px;
    //bottom: -155px;
    background-color: $color-background-dark;
    border-radius: 12px;
    z-index: 1;
    &--show-menu {
      display: block;
    }
    ul {
      list-style-type: none;
      width: 150px;
      margin: 0;
      padding: 12px 0 24px;
      color: $color-background;
      li {
        a,
        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          gap: 10px;
          padding: 4px 0 4px 24px;
          color: $color-font;
          font-size: 1rem; // 16px
          cursor: pointer;
          svg {
            width: 1.1rem;
            height: 1.1rem;
          }
        }
        &:hover {
          background-color: $color-background-secondary;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .user-menu {
    &__nav {
      right: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .user-menu {
    &__nav {
      top: 43px;
    }
  }
}
