$color-gradiant-dark: #0d0d0d;

$background-dark: #111113;
$background: #19191b;
$background-light: #222325;

$border: #393a40;
$border-dark: #292a2e;

$background-accent: #171621;
$border-accent: #483d73;

$font: #b2b3bd;
$font-light: #eeeef0;

$button-purple: #b8acf6;
$button-purple-dark: #27213f;
$button-blue: #388bff;
$button-blue-dark: #092957;
$button-orange: #f18d13;
$button-orange-dark: #5f3811;
$button-green: #2abb7f;
$button-green-dark: #1d474c;
$button-red: #ef5c48;
$button-red-dark: #601e16;
