$color-background: #f4f4f4;
$color-header-background: #0d0d0d;
$color-font: #0e0e0e;
$color-white: #fff;
$color-shadow: #e8e8e8;
$color-list-item-svg: #999;

$button-purple: #820aba;
$button-blue: #5037a9;
$button-orange: #ffb60a;
$button-green: #11bb63;
$button-red: #f50000;
