$color-gradiant-darkest: #000;
$color-gradiant-dark: #0d0d0d;
$color-background: #1d2125;
$color-background-secondary: #282e33;
$color-background-dark: #161a1d;
$color-border: #a6c5e229;
$color-font: #b6c2cf;
$color-input: #22272b;
$color-list-item-svg: #8c9bab;
$color-white: #fff;
$color-yellow-extra-dark: #533f0499;

$button-purple: #b8acf6;
$button-purple-dark: #2b273f;
$button-blue: #388bff;
$button-blue-dark: #092957;
$button-orange: #f18d13;
$button-orange-dark: #5f3811;
$button-green: #2abb7f;
$button-green-dark: #1d474c;
$button-red: #ef5c48;
$button-red-dark: #601e16;
$button-yellow: #f5cd47;
$button-yellow-dark: #533f04;
